*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar-header{
  border-radius: 0;
  background-color: grey;
}
#navbar-brand{
  padding-top: 25px;
}
.navbar-brand h1{
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover,.navbar-brand a:focus{
  text-decoration: none;
}
#nav-list div{
  color: blue;
  font-size: 1.2em;
  padding: 0;
}
section{
  margin-top: 15px;
  border:1px solid black;
  background-color: lightgrey;
  height: 1000px;
  margin-top: 5px;
  margin-bottom: 5px;
}
section div{
  font-size: 1.7em;
  font-weight: bold;
}
#ourmenu{
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 15px;
}